[data-scroll-rail='always'] {
  overflow-x: auto;
  scrollbar-width: none;
}
[data-scroll-rail='always']::-webkit-scrollbar {
  display: none;
}
@media (max-width: 800px) {
  [data-scroll-rail='mobile'] {
    scrollbar-width: none;
  }
  [data-scroll-rail='mobile']::-webkit-scrollbar {
    display: none;
  }
}
